body {
    padding-left: 50px;
    padding-top: 50px;
}

p{
     font-family: 'Airbnb Cereal App Medium';
     margin: 0 0 8px 0;
 }

/* CONTENT */


/* BUTTON PRIMARY */
.primary {
    color: white;
    font-size: 14px;
    border-radius: 2px; 
    display: inline-block;
    text-decoration: none;
    background-color: #6059ed;
    padding: 14px 24px 14px 24px;
    font-family: 'Airbnb Cereal App';
}

.primary:hover { 
    transition: 1s;
    background-color: #4e47e8;
    box-shadow: 0px 8px 20px 0px rgba(96,89,237,0.4);
    -moz-box-shadow: 0px 8px 20px 0px rgba(96,89,237,0.4);
    -webkit-box-shadow: 0px 8px 20px 0px rgba(96,89,237,0.4);
}

/* BUTTON ERROR */
.error {
    color: white;
    font-size: 14px;
    border-radius: 2px; 
    display: inline-block;
    text-decoration: none;
    background-color: #e8475b;
    padding: 14px 24px 14px 24px;
    font-family: 'Airbnb Cereal App';
}

.error:hover { 
    transition: 1s;
    background-color: #e8475b;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(237,89,110,0.4);
    -moz-box-shadow: 0px 8px 20px 0px rgba(237,89,110,0.4);
    box-shadow: 0px 8px 20px 0px rgba(237,89,110,0.4);

}
