body {
    padding-left: 50px;
    padding-top: 50px;
}

p{
     font-family: 'Airbnb Cereal App Medium', Arial, sans-serif;
     margin: 0 0 8px 0;
 }

/* CONTENT */


/* BUTTON PRIMARY */
.primary {
    background-color: #6059ed;
}

.primary:hover { 
    background-color: #4e47e8;
    box-shadow: 0px 8px 20px 0px rgba(96,89,237,0.4);
    -moz-box-shadow: 0px 8px 20px 0px rgba(96,89,237,0.4);
    -webkit-box-shadow: 0px 8px 20px 0px rgba(96,89,237,0.4);
}

/* BUTTON ERROR */
.error {
    background-color: #e8475b;
}

.error:hover { 
    background-color: #e8475b;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(237,89,110,0.4);
    -moz-box-shadow: 0px 8px 20px 0px rgba(237,89,110,0.4);
    box-shadow: 0px 8px 20px 0px rgba(237,89,110,0.4);

}
/* GENERAL PROPERTIES FOR BUTTON */
.primary, .error{
    display: inline-block;
    padding: 14px 24px 14px 24px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
    color: white;
}
/* GENERAL TRANSITION */
.primary:hover, error:hover{
    transition: 1s;
}
